
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">Clash</a>
          <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="" class="">
          <ul class="nav navbar-nav">

            <li ui-sref-active="active"><a ui-sref="users-in">Users IN</a></li>
            <li ui-sref-active="active"><a ui-sref="users-out">Users OUT</a></li>
            <li ui-sref-active="active"><a ui-sref="gdc">GDC</a></li>

            
          </ul>

        </div>
      </div>
    </div>